.signature-container {
    background-color: rgb(255, 255, 255, 0.4);
    width: 100%;
    bottom: 0;
    position: absolute;
}

.name {
    color: rgb(50, 50, 50);
    margin: 0;
    font-weight: bold;
}

.icon {
    width: 1.5rem;
    margin: 5px;
}