.nav-tabs .nav-link {
    background-color: rgb(255, 255, 255, 0.7);
}

.resources-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-height: 500px;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    overflow: auto;
}