.sidetab-link {
    background-color: rgb(255, 255, 255, 0.7);
    border: 1px solid trasparent;
}

.sidetab-link .active {
    background-color: rgb(255, 255, 255);
}

#sidetabs-container {
    height: 100%;
}