.sidetabs-link {
  background-color: rgb(255, 255, 255, 0.7);
  border: 1px solid trasparent;
}

.sidetabs-link .active {
  background-color: rgb(255, 255, 255);
}

#sidetabs-container {
  margin-top: 50px;
}
