html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(64, 64, 64);
}

.link {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

.link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
